#app{
    text-align: center;
    margin-top: 150px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

#title {
    font-size: 40px;
    margin: 0 550px 0 550px;
}

#result {
    margin: 40px 0 40px 0;
    font-size: 150px;
}